@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v22/u-440qyriQwlOrhSvowK_l5Oew.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oxygen/v10/2sDfZG1Wl4Lcnbu6iQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
*:focus {
  outline: none;
}
body {
  background-color: #f9f9f9;
  font-family: "Ubuntu", sans-serif;
}
/* NAVBAR */
.navbar {
  padding: 1em 5%;
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
}
.navbar .logo img {
  width: 75px;
}
.navbar .navbar_left {
  margin-left: 10vh;
  display: flex;
  justify-content: space-between;
  width: 40%;
  z-index: 9;
}
.navbar .navbar_left li {
  list-style-type: none;
}
.navbar .navbar_left li a {
  color: #415772;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
.navbar .navbar_left li a:hover {
  color: #253241;
}
.navbar .navbar_left li a.active {
  color: #a21313;
}
/* HERO SECTION */
.hero {
  height: 95vh;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.hero h1 {
  font-size: clamp(14px, 5em, 6vw);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 25%;
  top: 20%;
  color: #a21313;
}
/* Car Search */
.buy-options {
  background-color: white;
  margin: -5% 15% 10% 15%;
  padding: 3em 5em;
  border-radius: 0.3rem;
  display: flex;
  -webkit-box-shadow: 2px 5px 10px 0px rgba(63, 63, 63, 0.75);
  -moz-box-shadow: 2px 5px 10px 0px rgba(63, 63, 63, 0.75);
  box-shadow: 2px 5px 10px 0px rgba(63, 63, 63, 0.75);
}
.buy-options .row {
  width: 100%;
  display: flex;
}
.buy-options .row .brand-selection {
  margin: 0 1em;
}
.buy-options .row .brand-selection p {
  color: #253241;
  font-size: clamp(14px, 22px, 2em);
}
.buy-options .row .brand-selection p span {
  color: #7d97b5;
}
.buy-options .row .brand-selection select {
  padding: 0.8em;
  color: #253241;
  border-radius: 0.3rem;
  background-color: #f2f2f2;
  line-height: 1.5;
  font-size: 18px;
  cursor: pointer;
  padding-right: 1.75rem;
  vertical-align: middle;
}
.buy-options .row .brand-selection select:hover {
  -webkit-box-shadow: 2px 5px 10px 0px rgba(151, 151, 151, 0.75);
  -moz-box-shadow: 2px 5px 10px 0px rgba(151, 151, 151, 0.75);
  box-shadow: 2px 5px 10px 0px rgba(151, 151, 151, 0.75);
  background-color: white;
}
.buy-options .row .brand-selection select:focus {
  border-color: #ed6161;
  outline: 0;
}
.buy-options .row .brand-selection select option {
  text-transform: uppercase;
}
.buy-options .row .brand-selection .btn-primary {
  margin-left: 0.5em;
  text-transform: uppercase;
  color: white;
  background-color: #d01818;
  padding: 1em 2em;
  border-radius: 0.25rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  line-height: 1.5;
}
/* FEATURED CARD */
.featured-cars {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3em;
}
.featured-cars .car-1 {
  width: 45%;
  background-color: #2e3e51;
  border-radius: 0.8rem;
  margin: 1em;
}
.featured-cars .car-1 img {
  height: 80%;
  width: 100%;
}
.featured-cars .car-1 .car-info {
  color: white;
  padding: 0.5em 1.5em;
}
.featured-cars .car-1 .car-info h3 {
  margin-bottom: 1rem;
}
.featured-cars .car-1 .car-info hr {
  border: 1px solid #5f5f5f;
  opacity: 0.4;
  margin-bottom: 1rem;
}
.featured-cars .car-1 .car-info .tags {
  margin-top: 0.5rem;
  overflow: hidden;
}
.featured-cars .car-1 .car-info .tags span {
  margin: 0 0.5em;
  padding: 2em 0.5em;
  color: #999999;
}
.featured-cars .car-1 .car-info .tags .year,
.featured-cars .car-1 .car-info .tags .price {
  color: white;
}
.featured-cars .car-1 .car-info .tags .year {
  background-color: #d01818;
  padding: 0.5em 1em;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.35rem;
}
.featured-cars .col-2 {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.featured-cars .col-2 .car-box {
  width: 45%;
  margin: 1em;
  background-color: #2e3e51;
  border-radius: 0.8rem;
}
.featured-cars .col-2 .car-box img {
  height: 200px;
  width: 100%;
}
.featured-cars .col-2 .car-box .car-info {
  color: white;
  padding: 0.5em 1.5em;
}
.featured-cars .col-2 .car-box .car-info h3 {
  margin-bottom: 0.5rem;
}
.featured-cars .col-2 .car-box .car-info hr {
  border: 1px solid #5f5f5f;
  opacity: 0.4;
  margin: 0.5rem 0 0.5rem 0;
}
.featured-cars .col-2 .car-box .car-info .tags {
  margin-top: 0.5rem;
  overflow: hidden;
  padding-bottom: 2em;
}
.featured-cars .col-2 .car-box .car-info .tags span {
  margin: 0 0.5em;
  padding: 2em 0em;
  color: #999999;
}
.featured-cars .col-2 .car-box .car-info .tags .year,
.featured-cars .col-2 .car-box .car-info .tags .price {
  color: white;
}
.featured-cars .col-2 .car-box .car-info .tags .year {
  background-color: #d01818;
  padding: 0.5em 1em;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.35rem;
}
/* Two Options */
.options {
  padding: 0 10em;
  margin-top: 15%;
  margin-bottom: 10%;
}
.options .img-banner {
  text-align: center;
}
.options .row {
  position: relative;
  z-index: -1;
  margin-top: -5em;
  display: flex;
  color: white;
  text-align: center;
}
.options .row .sell-car {
  padding: 10% 10% 5% 10%;
  background-color: #293748;
  margin: 0 0.8em;
}
.options .row .sell-car:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(45deg);
  background-color: #000;
  /* to see where it is */
  box-shadow: 0 0 0 40px #f9f9f9;
}
.options .row .sell-car h3 {
  font-size: 24px;
  margin-bottom: 2rem;
}
.options .row .sell-car p {
  width: 100%;
}
.options .row .buy-car {
  padding: 10% 10% 5% 10%;
  background-color: #d01818;
  margin: 0 0.8em;
}
.options .row .buy-car:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(45deg);
  background-color: #000;
  /* to see where it is */
  box-shadow: 0 0 0 40px #f2f2f2;
}
.options .row .buy-car h3 {
  font-size: 24px;
  margin-bottom: 2rem;
}
.options .row .buy-car p {
  width: 100%;
}
/* FOOTER */
.footer footer {
  background-color: #d9d9d9;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  bottom: 0px;
}
.footer footer .row {
  display: flex;
  padding: 2.5em 5em;
}
.footer footer .row .col-4 {
  width: 33%;
}
.footer footer .row .col-4 a {
  text-decoration: none;
  margin: 0 0.8em;
}
.footer footer .row .col-4 a i {
  color: #4a6482;
}
.footer footer .row .col-4 h3 {
  text-transform: uppercase;
  color: #4a6482;
  margin-bottom: 0.8em;
}
.footer footer .row .col-4 ul li {
  margin: 0.5em 0;
}
.footer footer .row .col-4 ul li a {
  color: #4a6482;
}
.footer footer .row .col-4 ul li a span i {
  font-size: 12px;
  color: #4a6482;
}
/* ABOUT US */
.about-container {
  margin: 10vh 5vw;
}
.about-container h2 {
  margin-bottom: 1.5rem;
  font-size: clamp(22px, 58px, 5em);
  color: #253241;
}
.about-container .about-content {
  display: flex;
  align-items: stretch;
}
.about-container .about-content > * {
  width: 100%;
}
.about-container .about-content .about-text {
  padding-right: 5em;
  font-size: clamp(14px, 16px, 1.5em);
  line-height: 27px;
}
.about-container .about-content .about-text .spec {
  margin: 1.2em 0;
  font-size: clamp(16px, 18px, 1.7em);
  border-left: 5px solid #d01818;
  padding-left: 1em;
  width: 75%;
}
.about-container .about-content .about-img {
  height: 100%;
  border-radius: 1.25em;
}
/* PROM */
.prom {
  margin: 5vh 10vw;
  display: flex;
  justify-content: space-between;
}
.prom div {
  background-color: #ced8e3;
  padding: 3em 4em;
  text-align: center;
}
.prom div h4 {
  font-size: clamp(14px, 16px, 1.5em);
  font-weight: 500;
}
.prom div p {
  font-size: clamp(16px, 18px, 1.5em);
  font-weight: bold;
  margin-top: 1em;
}
/* CONTACT */
.contact-info {
  margin: 10vh 10vw;
  display: flex;
  justify-content: space-around;
}
.contact-info > * {
  width: 100%;
}
.contact-info div {
  background-color: #ced8e3;
  padding: 1.2em 3em;
  text-align: center;
  margin: 0.5em;
  border-radius: 0.5em;
}
.contact-info div:not(.icon) {
  -webkit-box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
}
.contact-info div.icon {
  color: #a21313;
}
.contact-info div h4 {
  font-size: clamp(14px, 16px, 1.5em);
  font-weight: 500;
}
.contact-info div p {
  font-size: clamp(12px, 14px, 1.2em);
  font-weight: bold;
  margin-top: 1em;
  line-height: 30px;
}
.contact-info div p a {
  text-decoration: none;
  color: black;
}
.contact-form {
  margin: 10vh 10vw;
  display: flex;
  justify-content: space-between;
}
.contact-form > * {
  width: 100%;
}
.contact-form iframe {
  width: 80%;
  height: 90%;
}
.contact-form .form-container h3 {
  font-size: clamp(16px, 36px, 1.7em);
}
.contact-form .form-container h3 span {
  color: #d01818;
}
.contact-form .form-container form input[type="text"],
.contact-form .form-container form input[type="email"],
.contact-form .form-container form textarea {
  width: 80%;
  margin: 1em;
  padding: 0.85em;
  border-radius: 0.35em;
  outline: none;
  border: none;
  -webkit-box-shadow: 1.5px 2px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1.5px 2px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1.5px 2px 7px 0px rgba(0, 0, 0, 0.3);
}
.contact-form .form-container form textarea {
  resize: none;
}
