/* @import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Oxygen&family=Poppins&family=Raleway&family=Ubuntu&display=swap"); */
@font-face {
  font-family: "AdihausDIN";
  src: url("../fonts/729-font.ttf") format("truetype");
}
:root {
  --rownum: 0;
}
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
*:focus {
  outline: none;
}
body {
  background-color: #f9f9f9;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  letter-spacing: 3px;
}
/* NAVBAR 

.navbar {
  padding: 1em 5%;
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: darken(@third_color, 10%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  .logo {
    img {
      width: 75px;
    }
  }

  .navbar_left {
    margin-left: 10vh;
    display: flex;
    justify-content: space-between;
    width: 40%;
    z-index: 9;

    li {
      list-style-type: none;

      a {
        color: lighten(@secondary_color, 15%);
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;

        &:hover {
          color: @secondary_color;
        }

        &.active {
          color: darken(@primary_color, 10%);
        }
      }
    }
  }
} 


/* NOVI NAV */
.newNav nav {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2222;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #1a1a1a;
}
.newNav nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.newNav nav .nav-links li {
  list-style: none;
}
.newNav nav .nav-links a {
  color: #e2e2e2;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.newNav nav .nav-links a:hover {
  color: #ccac00;
}
.newNav nav .burger {
  display: none;
  cursor: pointer;
}
.newNav nav .burger div {
  width: 25px;
  height: 3px;
  background-color: #998100;
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .newNav nav .nav-links {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .newNav nav .nav-links {
    overflow: hidden;
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    width: 0%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in, width 0.5s ease-in-out;
  }
  .newNav nav .nav-links li {
    opacity: 0;
  }
  .newNav nav .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%) !important;
  width: 50% !important;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* FOOTER */
.footer footer {
  background-color: #d9d9d9;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  bottom: 0px;
}
.footer footer .row {
  display: flex;
  padding: 2.5em 5em;
}
.footer footer .row .col-4 {
  width: 33%;
}
.footer footer .row .col-4 .social-media-icons a {
  text-decoration: none;
  margin: 0 0.8em;
}
.footer footer .row .col-4 .social-media-icons a i {
  color: #4a6482;
}
.footer footer .row .col-4 h3 {
  text-transform: uppercase;
  color: #4a6482;
  margin-bottom: 0.8em;
}
.footer footer .row .col-4 ul li {
  margin: 0.5em 0;
}
.footer footer .row .col-4 ul li a {
  color: #4a6482;
  text-decoration: none;
}
.footer footer .row .col-4 ul li a span i {
  font-size: 12px;
  color: #4a6482;
}
/* HERO SECTION */
.hero {
  height: 95vh;
  text-shadow: 4px 4px 6px #969696;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.hero h1 {
  font-size: clamp(2.5em, 5em, 6vw);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 25%;
  top: 15%;
  color: #a21313;
}
/* Car Search */
.buy-options {
  background-color: white;
  margin: -5% 15% 5% 15%;
  padding: 3em 5em;
  border-radius: 0.3rem;
  display: flex;
  -webkit-box-shadow: 2px 5px 10px 0px rgba(63, 63, 63, 0.75);
  -moz-box-shadow: 2px 5px 10px 0px rgba(63, 63, 63, 0.75);
  box-shadow: 2px 5px 10px 0px rgba(63, 63, 63, 0.75);
}
.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.2em;
}
.row .brand-selection {
  position: relative;
}
.row .brand-selection.btn-center {
  display: flex;
  justify-content: center;
}
.row .brand-selection p {
  margin-bottom: 0.5em;
  color: #253241;
  font-size: clamp(16px, 20px, 2em);
}
.row .brand-selection p span {
  color: #d01818;
}
.row .brand-selection .select-custom {
  position: relative;
}
.row .brand-selection .select-custom select {
  box-shadow: 0 10px 25px #000000;
  font-size: 1.1rem;
  padding: 0.6em 2.2em 0.6em 0.6em;
  background: #2e3e51;
  color: white;
  border: 0;
  width: 100%;
  cursor: pointer;
}
.row .brand-selection .select-custom .custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: #384b62;
  height: 100%;
  width: 3rem;
  pointer-events: none;
}
.row .brand-selection .select-custom .custom-arrow::before,
.row .brand-selection .select-custom .custom-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.row .brand-selection .select-custom .custom-arrow::before {
  border-left: 0.45em solid transparent;
  border-right: 0.45em solid transparent;
  border-bottom: 0.45em solid white;
  top: 40%;
}
.row .brand-selection .select-custom .custom-arrow::after {
  border-left: 0.45em solid transparent;
  border-right: 0.45em solid transparent;
  border-top: 0.45em solid white;
  top: 60%;
}
.row .brand-selection button {
  border: none;
  outline: none;
  background-color: #2e3e51;
  color: white;
  padding: 0.6em 2.5em;
  border-radius: 0.85em;
  position: absolute;
  bottom: 0;
  font-size: clamp(14px, 18px, 1.8em);
  cursor: pointer;
}
/* FEATURED CARD */
.featured-cars {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.5em;
}
.featured-cars h2 {
  width: 100%;
  margin-bottom: 0.5em;
  font-size: clamp(1.8em, 2.6em, 3.5em);
  color: #253241;
  font-weight: bold;
  text-shadow: 4px 4px 6px #969696;
}
.featured-cars h2 span {
  color: #d01818;
}
.featured-cars a {
  text-decoration: none;
  color: white;
}
.featured-cars .car-1 {
  width: 45vw;
  background-color: #2e3e51;
  border-radius: 0.8rem;
  margin: 1em 0;
  -webkit-box-shadow: 3px 3px 5px 0px #2e3e51;
  -moz-box-shadow: 3px 3px 5px 0px #2e3e51;
  box-shadow: 3px 3px 5px 0px #2e3e51;
}
.featured-cars .car-1 img {
  height: 80%;
  width: 100%;
}
.featured-cars .car-1 .car-info {
  color: white;
  padding: 0.5em 1.5em;
}
.featured-cars .car-1 .car-info h3 {
  margin-bottom: 1rem;
  font-size: clamp(1em, 1.7em, 3em);
}
.featured-cars .car-1 .car-info hr {
  border: 1px solid #5f5f5f;
  opacity: 0.4;
  margin-bottom: 1rem;
}
.featured-cars .car-1 .car-info .tags {
  margin-top: 0.5rem;
  overflow: hidden;
}
.featured-cars .car-1 .car-info .tags span {
  margin: 0 0.5em;
  padding: 2em 0.5em;
  color: #999999;
}
.featured-cars .car-1 .car-info .tags .year,
.featured-cars .car-1 .car-info .tags .price {
  color: white;
}
.featured-cars .car-1 .car-info .tags .year {
  background-color: #d01818;
  padding: 0.5em 1em;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.35rem;
}
.featured-cars .col-2 {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
}
.featured-cars .col-2 .car-box {
  -webkit-box-shadow: 3px 3px 5px 0px #2e3e51;
  -moz-box-shadow: 3px 3px 5px 0px #2e3e51;
  box-shadow: 3px 3px 5px 0px #2e3e51;
  width: 45%;
  margin: 1em 0.5em;
  background-color: #2e3e51;
  border-radius: 0.8rem;
}
.featured-cars .col-2 .car-box img {
  height: 15em;
  width: 100%;
}
.featured-cars .col-2 .car-box .car-info {
  color: white;
  padding: 0.5em 1.5em 0 1.5em;
}
.featured-cars .col-2 .car-box .car-info h3 {
  margin-bottom: 0.5rem;
}
.featured-cars .col-2 .car-box .car-info hr {
  border: 1px solid #5f5f5f;
  opacity: 0.4;
  margin: 0.5rem 0 0.5rem 0;
}
.featured-cars .col-2 .car-box .car-info .tags {
  margin-top: 0.5rem;
  overflow: hidden;
  padding-bottom: 1em;
}
.featured-cars .col-2 .car-box .car-info .tags span {
  margin: 0 0.5em;
  padding: 2em 0em;
  color: #999999;
}
.featured-cars .col-2 .car-box .car-info .tags .year,
.featured-cars .col-2 .car-box .car-info .tags .price {
  color: white;
}
.featured-cars .col-2 .car-box .car-info .tags .year {
  background-color: #d01818;
  padding: 0.5em 1em;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.35rem;
}
/* Two Options */
.options {
  padding: 0 10em;
  margin-top: 10%;
  margin-bottom: 10%;
}
.options .img-banner {
  text-align: center;
}
.options .row {
  position: relative;
  z-index: -1;
  margin-top: -5em;
  display: flex;
  color: white;
  text-align: center;
}
.options .row .sell-car {
  padding: 10% 10% 5% 10%;
  background-color: #293748;
  margin: 0 0.8em;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 30px 60px -12px inset, rgba(253, 255, 255, 0.3) 0px 18px 36px -18px inset;
  width: 100%;
}
.options .row .sell-car:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(45deg);
  background-color: #000;
  /* to see where it is */
  box-shadow: 0 0 0 40px #f9f9f9;
}
.options .row .sell-car h3 {
  font-size: 24px;
  margin-bottom: 2rem;
}
.options .row .sell-car p {
  width: 100%;
}
.options .row .buy-car {
  position: relative;
  padding: 10% 10% 5% 10%;
  background-color: #d01818;
  margin: 0 0.8em;
  box-shadow: rgba(0, 0, 0, 0.5) 0px -30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  width: 100%;
}
.options .row .buy-car:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(45deg);
  background-color: #000;
  /* to see where it is */
  box-shadow: 0 0 0 40px #f9f9f9;
}
.options .row .buy-car h3 {
  font-size: 24px;
  margin-bottom: 2rem;
}
.options .row .buy-car p {
  width: 100%;
}
/* TEAM */
.team {
  margin: 2.5em;
  border-radius: 0.85rem;
}
.team .glider-contain {
  background-color: #1c2631;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 2em;
}
.team .glider-contain .team-text {
  color: white;
  width: 50%;
  margin-top: 2em;
}
.team .glider-contain .team-text h2 {
  font-size: clamp(20px, 2.8em, 4em);
  margin-bottom: 0.6em;
}
.team .glider-contain .team-text ul li {
  font-size: clamp(14px, 18px, 2em);
  line-height: 1.5em;
}
.team .glider-contain .team-text ul li:before {
  content: "\f058";
  font-weight: 900;
  font-family: "font awesome 5 free";
  padding-right: 0.7em;
  font-size: 16px;
  color: #d01818;
}
.team .glider-contain .team-text button {
  margin: 50px;
}
.team .glider-contain .team-text .glider-prev {
  background-color: white;
  border-radius: 50%;
  font-size: 20px;
  padding: 0.8em;
  position: relative;
  top: 0;
  right: 0;
}
.team .glider-contain .team-text .glider-prev::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f053";
  font-size: 1.5em;
}
.team .glider-contain .team-text .glider-next {
  background-color: white;
  border-radius: 50%;
  font-size: 20px;
  padding: 0.8em;
  position: relative;
  margin-left: -2.5em;
  top: 0;
  left: 0;
}
.team .glider-contain .team-text .glider-next::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  font-size: 1.5em;
}
.team .glider-contain .glider .p_content {
  background: white !important;
  display: block;
  margin: 1.5em;
  border-radius: 0.8em;
  padding-bottom: 1.2em;
}
.team .glider-contain .glider .p_content .p_img {
  border-radius: 0.8em 0.8em 0 0;
  width: 100%;
}
.team .glider-contain .glider .p_content .box {
  position: relative;
  padding: 0 1.2em;
}
.team .glider-contain .glider .p_content .box .fas {
  background-color: #d01818;
  color: white;
  padding: 0.2em;
  border-radius: 0.2em;
  position: absolute;
  top: -1.6em;
  left: 0.5em;
}
.team .glider-contain .glider .p_content .box .fa-envelope {
  left: 2em;
}
.team .glider-contain .glider .p_content .box .p_name {
  font-size: clamp(16px, 22px, 1.6em);
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 0.25em;
}
.team .glider-contain .glider .p_content .box .p_p {
  opacity: 0.5;
  font-size: clamp(12px, 16px, 1.3em);
  font-weight: 500;
}
.team .glider-contain .glider .p_content .box hr {
  background: #ecf0f3;
  margin: 0.55em 0;
  border: 0.5px solid #969696;
  opacity: 0.4;
}
.team .glider-contain .glider .p_content .box .p_email {
  font-size: clamp(12px, 16px, 1.5em);
  line-height: 24px;
  color: red;
  text-decoration: none;
}
.team .glider-contain .glider .p_content .box .p_phone {
  font-size: clamp(12px, 16px, 1.5em);
  line-height: 24px;
  color: gray;
  text-decoration: none;
  opacity: 0.8;
}
/* ABOUT US */
.about-container {
  margin: 10vh 5vw;
}
.about-container h2 {
  margin-bottom: 1.5rem;
  font-size: clamp(22px, 58px, 5em);
  color: #253241;
  text-shadow: 4px 4px 6px #969696;
}
.about-container .about-content {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.about-container .about-content > * {
  width: 45%;
}
.about-container .about-content .about-text {
  padding-right: 5em;
  font-size: clamp(14px, 16px, 1.5em);
  line-height: 27px;
  letter-spacing: 2px;
}
.about-container .about-content .about-text .spec {
  margin: 1.2em 0;
  font-size: clamp(16px, 18px, 1.7em);
  border-left: 5px solid #d01818;
  padding-left: 1em;
  width: 75%;
}
.about-container .about-content .about-img {
  height: 100%;
  border-radius: 1.25em;
}
.about-container .about-content .about-img img {
  width: 100%;
}
/* PROM */
.prom {
  margin: 5vh 10vw;
  justify-content: space-between;
}
.prom div {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.prom div > .box {
  width: 33%;
}
.prom div h4 {
  font-size: clamp(14px, 16px, 1.5em);
  font-weight: 500;
}
.prom div p {
  font-size: clamp(16px, 18px, 1.5em);
  font-weight: bold;
  margin-top: 1em;
}
/* CONTACT */
.contact-info {
  margin: 10vh 10vw;
}
.contact-info h2 {
  margin-bottom: 1.5rem;
  font-size: clamp(22px, 58px, 5em);
  color: #253241;
  text-shadow: 4px 4px 6px #969696;
}
.contact-info .contact-content {
  display: flex;
  justify-content: space-around;
}
.contact-info .contact-content > * {
  width: 100%;
}
.contact-info .contact-content div {
  background-color: #ced8e3;
  padding: 1.2em 3em;
  text-align: center;
  margin: 0.5em;
  border-radius: 0.5em;
}
.contact-info .contact-content div:not(.icon) {
  -webkit-box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
}
.contact-info .contact-content div.icon {
  color: #a21313;
}
.contact-info .contact-content div h4 {
  font-size: clamp(14px, 16px, 1.5em);
  font-weight: 500;
}
.contact-info .contact-content div p {
  font-size: clamp(12px, 14px, 1.2em);
  font-weight: bold;
  margin-top: 1em;
  line-height: 30px;
}
.contact-info .contact-content div p a {
  text-decoration: none;
  color: black;
}
/* CONTACT FORM */
.contact-form {
  margin: 10vh 10vw;
  display: flex;
  justify-content: space-between;
}
.contact-form > * {
  width: 100%;
}
.contact-form iframe {
  width: 80%;
  height: 90%;
}
.contact-form .form-container h3 {
  text-shadow: 4px 4px 6px #969696;
  font-size: clamp(24px, 1.8em, 3.3em);
}
.contact-form .form-container h3 span {
  color: #d01818;
}
.contact-form .form-container form input[type="text"],
.contact-form .form-container form input[type="email"],
.contact-form .form-container form textarea {
  width: 80%;
  margin: 1em;
  padding: 0.85em;
  border-radius: 0.35em;
  outline: none;
  border: none;
  -webkit-box-shadow: 1.5px 2px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1.5px 2px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1.5px 2px 7px 0px rgba(0, 0, 0, 0.3);
}
.contact-form .form-container form textarea {
  resize: none;
}
.contact-form .form-container form button {
  border: none;
  outline: none;
  background-color: #2e3e51;
  color: white;
  padding: 0.6em 2.5em;
  border-radius: 0.85em;
  font-size: clamp(14px, 18px, 1.8em);
  cursor: pointer;
  width: 80%;
  margin: 1em;
  -webkit-box-shadow: 1.5px 2px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1.5px 2px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1.5px 2px 7px 0px rgba(0, 0, 0, 0.3);
}
/* SHOP */
/* FILTERS */
.filters {
  margin: 10vh 0vw 5vh 0;
  padding: 1em 10vw;
  background-color: #f2f2f2;
}
.filters .title {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
}
.filters .title .sort {
  position: absolute;
  right: 0;
  bottom: 0;
}
.filters .title .sort span {
  color: #d01818;
}
.filters .filter-btn {
  color: #253241;
  vertical-align: middle;
  line-height: 1.5;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.filters .forms {
  position: relative;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 55% 40%;
  grid-row-gap: 2em;
  justify-content: space-around;
  align-content: space-between;
  margin-top: 1em;
}
.filters .forms .filter-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 2em;
  grid-auto-rows: var(--rownum);
}
.filters .forms .filter-form div select {
  text-transform: uppercase;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.filters .forms .form-right {
  position: absolute;
  right: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
  /* grid-template-areas:
        "fl sr"
        "hh btn"; */
}
.filters .forms .form-right span {
  margin: 0 0.5em;
}
.filters .forms .form-right span i {
  margin-left: 0.5em;
}
.filters .forms .form-right button {
  border: 1px solid #253241;
  outline: none;
  background: transparent;
  color: #253241;
  padding: 0 2.5em;
  border-radius: 0.85em;
  cursor: pointer;
  height: 30px;
  /* grid-area: btn; */
}
/* SHOP CONTENT */
.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  column-gap: 1em;
  row-gap: 1em;
  padding: 0 7em;
  padding-bottom: 2em;
}
.shop-content a {
  text-decoration: none;
  color: white;
}
.shop-content .car-box {
  background-color: #2e3e51;
  border-radius: 0.8rem;
}
.shop-content .car-box img {
  height: 200px;
  width: 100%;
}
.shop-content .car-box .car-info {
  color: white;
  padding: 0.5em 1.5em 0 1.5em;
}
.shop-content .car-box .car-info h3 {
  margin-bottom: 0.5rem;
}
.shop-content .car-box .car-info hr {
  border: 1px solid #5f5f5f;
  opacity: 0.4;
  margin: 0.5rem 0 0.5rem 0;
}
.shop-content .car-box .car-info .tags {
  margin-top: 0.5rem;
  overflow: hidden;
  padding-bottom: 1em;
}
.shop-content .car-box .car-info .tags span {
  margin: 0 0.5em;
  padding: 2em 0em;
  color: #999999;
}
.shop-content .car-box .car-info .tags .year,
.shop-content .car-box .car-info .tags .price {
  color: white;
}
.shop-content .car-box .car-info .tags .year {
  background-color: #d01818;
  padding: 0.5em 1em;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.35rem;
}
/* SELL CAR */
.submit-car {
  margin: 10vh 0vw;
  padding: 1em 15vw;
  background-color: #f2f2f2;
}
.submit-car h2 {
  text-shadow: 4px 4px 6px #969696;
}
.submit-car p {
  margin-top: 1.5em;
}
.submit-car #sell_form {
  background-color: #ffffff;
  padding: 1em 2.5em;
  margin-top: 1.5em;
  border-radius: 0.35em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  /* Mark input boxes that gets an error on validation: */
  /* Hide all steps by default: */
  /* Make circles that indicate the steps of the form: */
  /* Mark the steps that are finished and valid: */
}
.submit-car #sell_form h1 {
  text-align: center;
}
.submit-car #sell_form label {
  display: block;
  font-size: clamp(16px, 1.25em, 2.3em);
}
.submit-car #sell_form p {
  font-size: clamp(16px, 1.25em, 2.3em);
}
.submit-car #sell_form input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #aaaaaa;
  margin: 0.5em;
  border-radius: 0.35em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  width: 90%;
}
.submit-car #sell_form .radio-tab input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.submit-car #sell_form .radio-tab input[type="radio"]:checked + label {
  background-color: #415772;
}
.submit-car #sell_form .radio-tab input[type="radio"].invalid {
  background-color: #ffdddd;
}
.submit-car #sell_form .radio-tab label {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 4px;
}
.submit-car #sell_form .radio-tab label:hover {
  background-color: #537092;
}
.submit-car #sell_form input.invalid {
  background-color: #ffdddd;
}
.submit-car #sell_form .tab {
  display: none;
}
.submit-car #sell_form button {
  border: 1px solid #253241;
  outline: none;
  background: transparent;
  color: #253241;
  padding: 0 2.5em;
  border-radius: 0.85em;
  cursor: pointer;
  height: 30px;
  margin-top: 1em;
  font-size: clamp(16px, 1.25em, 2.3em);
}
.submit-car #sell_form button:hover {
  opacity: 0.8;
}
.submit-car #sell_form #prevBtn {
  background-color: #e0e0e0;
}
.submit-car #sell_form .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.submit-car #sell_form .step.active {
  opacity: 1;
}
.submit-car #sell_form .step.finish {
  background-color: #04aa6d;
}
.submit-car #sell_form input[type="file"] {
  display: none;
}
.submit-car #sell_form .car-image-label {
  color: white;
  background-color: #f5af09;
  font-size: 20px;
  cursor: pointer;
  width: 150px;
  display: block;
  padding: 1em 1.5em;
}
.submit-car #sell_form .select-custom {
  position: relative;
  width: 90%;
}
.submit-car #sell_form .select-custom select {
  font-size: 17px;
  margin: 0 0.5em;
  padding: 0.6em 2.2em 0.6em 0.6em;
  background: #2e3e51;
  color: white;
  border: 0;
  width: 100%;
}
.submit-car #sell_form .select-custom .custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: #384b62;
  height: 100%;
  width: 3rem;
  pointer-events: none;
}
.submit-car #sell_form .select-custom .custom-arrow::before,
.submit-car #sell_form .select-custom .custom-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.submit-car #sell_form .select-custom .custom-arrow::before {
  border-left: 0.45em solid transparent;
  border-right: 0.45em solid transparent;
  border-bottom: 0.45em solid white;
  top: 40%;
}
.submit-car #sell_form .select-custom .custom-arrow::after {
  border-left: 0.45em solid transparent;
  border-right: 0.45em solid transparent;
  border-top: 0.45em solid white;
  top: 60%;
}
/* SINGLE PAGE */
.car-details {
  margin: 10vh 0 3vh 0;
  padding: 1em 5vw;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 2em;
  /* SIDEBAR */
}
.car-details .car-images-carousel {
  position: relative;
  /* Add a pointer when hovering over the thumbnail images */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
}
.car-details .car-images-carousel .mySlides {
  display: none;
  /* Number text (1/3 etc) */
}
.car-details .car-images-carousel .mySlides img {
  border-radius: 10px;
  height: 450px;
}
.car-details .car-images-carousel .mySlides .numbertext {
  color: red;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.car-details .car-images-carousel .cursor {
  cursor: pointer;
}
.car-details .car-images-carousel .prev,
.car-details .car-images-carousel .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  /* On hover, add a black background color with a little bit see-through */
}
.car-details .car-images-carousel .prev:hover,
.car-details .car-images-carousel .next:hover,
.car-details .car-images-carousel .prev:hover,
.car-details .car-images-carousel .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.car-details .car-images-carousel .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.car-details .car-images-carousel .row {
  margin: 1em 0em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5em;
  /* Six columns side by side */
  /* Add a transparency effect for thumnbail images */
}
.car-details .car-images-carousel .row .column {
  float: left;
  width: 100%;
}
.car-details .car-images-carousel .row .column img {
  border-radius: 0.35em;
}
.car-details .car-images-carousel .row .demo {
  opacity: 0.6;
  height: 125px;
}
.car-details .car-images-carousel .row .active,
.car-details .car-images-carousel .row .demo:hover {
  opacity: 1;
}
.car-details .car-description {
  margin-top: 2.5em;
}
.car-details .car-description h3 {
  font-size: clamp(20px, 1.8em, 2.8em);
  margin-bottom: 1em;
}
.car-details .car-description p {
  line-height: 1.5em;
  word-spacing: 0.3em;
  color: #333333;
  letter-spacing: 2px;
}
.car-details .car-description p#box {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  transition: all 2s;
}
.car-details .car-description button {
  padding: 1em 1.2em;
  background-color: #d01818;
  color: white;
  outline: none;
  border: none;
  border-radius: 0.35em;
  cursor: pointer;
}
.car-details .car-features {
  margin-top: 2em;
}
.car-details .car-features h3 {
  font-size: clamp(20px, 1.8em, 2.8em);
  margin-bottom: 0.7em;
}
.car-details .car-features .features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.car-details .car-features .features div {
  margin: 0.8em 0;
}
.car-details .car-features .features div i {
  margin: 0 0.25em;
  font-size: 10px;
  color: #d01818;
}
.car-details .car-main-detail {
  position: absolute;
  right: 5vw;
}
.car-details .car-main-detail .title h1 {
  font-size: clamp(22px, 2em, 3.2em);
  color: #253241;
  padding-bottom: 0.8em;
  text-shadow: 4px 4px 6px #969696;
  font-weight: bold;
}
.car-details .car-main-detail .car-data span {
  font-size: clamp(16px, 18px, 1.7em);
  color: #666666;
  opacity: 0.7;
}
.car-details .car-main-detail .car-data span i {
  margin: 0 0.25em;
  font-size: 9px;
  color: #d01818;
  vertical-align: middle;
}
.car-details .car-main-detail hr {
  margin: 0.5em 0;
  border: 1px solid #b3b3b3;
  opacity: 0.7;
}
.car-details .car-main-detail .price {
  color: #d01818;
  font-size: clamp(24px, 2.2em, 3em);
  font-weight: 900;
}
.car-details .car-main-detail .details {
  margin-top: 1em;
  border-radius: 0.85em;
  background-color: #dee5ec;
  padding: 1.5em 2.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.car-details .car-main-detail .details div {
  margin: 0.5em 0;
}
.car-details .car-main-detail .details div .detail-name {
  font-weight: 600;
}
.dropdown--is-open #box {
  overflow: hidden;
  padding-bottom: 168px;
}
/* RELATED CARS */
.related-cars {
  padding: 0em 5vw 2em 5vw;
}
.related-cars .related-title h3 {
  text-shadow: 4px 4px 6px #969696;
  color: black;
  font-weight: 600;
  margin: 1.75rem 0 1rem 0;
  font-size: clamp(16px, 28px, 3em);
}
.related-cars .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 1em;
}
.related-cars .grid a {
  text-decoration: none;
}
.related-cars .grid .box {
  background-color: #2e3e51;
  border-radius: 0.8rem;
  -webkit-box-shadow: 3px 3px 5px 0px #2e3e51;
  -moz-box-shadow: 3px 3px 5px 0px #2e3e51;
  box-shadow: 3px 3px 5px 0px #2e3e51;
}
.related-cars .grid h4 {
  color: black;
  font-weight: normal;
  margin: 1.75rem 0 1rem 0;
  font-size: clamp(16px, 18px, 2.8em);
  margin: 1rem 0 0.5rem 0;
  color: white;
  padding: 0 1em;
}
.related-cars .grid .price {
  margin: 0;
  color: #d01818;
  padding: 0 1em 0.5em 1em;
  font-size: clamp(14px, 16px, 1.8em);
}
.related-cars .grid img {
  width: 100%;
}
.boxes {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.boxes .box {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  text-decoration: none;
  color: #a21313;
  overflow: hidden;
}
.boxes .box h3 {
  transition: all 0.5s;
  padding-top: 50px;
  padding-bottom: 60px;
  margin: 0;
  font-size: 2em;
  text-transform: uppercase;
}
.boxes .box i {
  transition: all 0.4s;
  font-size: 4em;
}
.boxes .box p {
  transition: all 0.5s;
  margin-top: 70px;
}
.boxes .box:before {
  transition: all 0.4s;
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  left: 50%;
  margin-left: -50%;
  top: 25%;
  border-color: rgba(200, 200, 200, 0);
  border-style: solid;
  border-width: 0 1px;
}
.boxes .box:after {
  transition: all 0.4s;
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  left: 50%;
  margin-left: -25%;
  top: 0;
  border-color: rgba(200, 200, 200, 0);
  border-style: solid;
  border-width: 1px 0;
}
.boxes .box:hover {
  color: #415772;
}
.boxes .box:hover h3 {
  padding-top: 80px;
  padding-bottom: 30px;
}
.boxes .box:hover p {
  margin-top: 30px;
}
.boxes .box:hover:before {
  height: 352px;
  top: 0%;
  border-color: #5a5a5a;
  border-radius: 40%;
}
/* NOVI FOOTEER */
.footer-section {
  background: #e6e6e6;
  position: relative;
  /* @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  } */
}
.footer-section .container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.footer-section .pt-5 {
  padding-top: 3rem !important;
}
.footer-section .pb-5 {
  padding-bottom: 3rem !important;
}
.footer-section .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.footer-section .row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}
.footer-section .col-xl-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.footer-section .col-md-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.footer-section .col-xl-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}
.footer-section .col-md-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}
.footer-section .col-lg-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}
.footer-section .col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}
.footer-section .footer-cta {
  border-bottom: 1px solid #373636;
}
.footer-section .single-cta i {
  color: #d01818;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.footer-section .cta-text {
  padding-left: 15px;
  display: inline-block;
}
.footer-section .cta-text h4 {
  color: #253241;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.footer-section .cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-section .footer-content {
  position: relative;
  z-index: 2;
}
.footer-section .footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-section .footer-logo {
  margin-bottom: 30px;
}
.footer-section .footer-logo img {
  max-width: 200px;
}
.footer-section .footer-text p {
  margin-bottom: 14px;
  font-size: clamp(14px, 1em, 2.5em);
  color: #7e7e7e;
  line-height: 28px;
}
.footer-section .footer-social-icon span {
  color: #253241;
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-section .footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-section .footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.footer-section .facebook-bg {
  background: #3b5998;
}
.footer-section .twitter-bg {
  background: #55acee;
}
.footer-section .google-bg {
  background: #dd4b39;
}
.footer-section .footer-widget-heading h3 {
  color: #253241;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  overflow: visible;
}
.footer-section .footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #d01818;
}
.footer-section .footer-widget ul li {
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-section .footer-widget ul li a:hover {
  color: #d01818;
}
.footer-section .footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.footer-section .copyright-area {
  background: #202020;
  padding: 25px 0;
}
.footer-section .copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.footer-section .copyright-text p a {
  color: #d01818;
}
.footer-section .footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-section .footer-menu li:hover a {
  color: #d01818;
}
.footer-section .footer-menu li a {
  font-size: 14px;
  color: #878787;
}
/* LARGE SCREENS */
@media only screen and (min-width: 1600px) {
  .shop-content .car-box .car-info .tags span {
    margin: 0.5em 0.5em;
  }
  .options .row {
    overflow-x: initial;
  }
  .options .row .buy-car {
    overflow: unset;
  }
  .team .glider-slide {
    min-width: 300px;
  }
  .about-container .about-content .about-text {
    font-size: clamp(18px, 1.25em, 1.8em);
  }
  .about-container .about-content .about-text .spec {
    font-size: clamp(18px, 1.15em, 1.7em);
    width: 90%;
  }
  .contact-form .form-container h3 {
    font-size: clamp(24px, 2.5em, 3.3em);
  }
  .submit-car h2 {
    font-size: clamp(18px, 2.2em, 3em);
  }
  .submit-car p {
    font-size: clamp(18px, 1.7em, 2.5em);
  }
  .car-details .car-main-detail .title h1 {
    font-size: clamp(26px, 2.6em, 3.2em);
  }
  .car-details .car-main-detail .car-data span {
    font-size: clamp(16px, 22px, 1.7em);
  }
  .car-details .car-main-detail .details {
    font-size: clamp(16px, 20px, 1.7em);
  }
  .car-details .car-description h3 {
    font-size: clamp(20px, 2.3em, 2.8em);
  }
  .car-details .car-description p {
    font-size: larger;
  }
  .car-details .car-features h3 {
    font-size: clamp(20px, 2.15em, 2.6em);
  }
  .car-details .car-features .features {
    font-size: larger;
  }
  .related-cars .related-title h3 {
    font-size: clamp(20px, 2.3em, 2.8em);
  }
  .related-cars .grid .box h4 {
    font-size: x-large;
  }
  .related-cars .grid .box .price {
    font-size: larger;
  }
}
@media only screen and (min-width: 2300px) {
  .featured-cars .car-1 img {
    height: 85%;
  }
  .featured-cars .col-2 .car-box img {
    height: 25em;
  }
  .car-details .car-images-carousel .mySlides img {
    height: 45em;
  }
  .about-container .about-content .about-img img {
    height: 550px;
  }
  .about-container h2 {
    font-size: clamp(58px, 7em, 12em);
  }
  .about-container .about-content .about-text {
    font-size: clamp(16px, 1.8em, 3em);
    line-height: 35px;
  }
  .about-container .about-content .about-text .spec {
    font-size: clamp(16px, 1.2em, 2.2em);
    line-height: 35px;
    width: 90%;
  }
  .prom .boxes .box i {
    font-size: 6em;
  }
  .prom .boxes .box p {
    font-size: clamp(18px, 1.8em, 2.4em);
  }
  .contact-info h2 {
    font-size: clamp(58px, 7em, 12em);
  }
  .contact-info .contact-content div i {
    font-size: 4.2em;
  }
  .contact-info .contact-content div h4 {
    font-size: clamp(16px, 2em, 2.5em);
  }
  .contact-info .contact-content div p {
    font-size: clamp(14px, 1.3em, 1.8em);
  }
  .contact-form .form-container h3 {
    font-size: clamp(24px, 3.5em, 4em);
  }
  .contact-form .form-container form input[type="text"],
  .contact-form .form-container form input[type="email"],
  .contact-form .form-container form textarea {
    padding: 1.7em 0.85em;
    font-size: 1.25em;
  }
  .contact-form .form-container form button {
    padding: 1.3em 2.5em;
  }
  .submit-car h2 {
    font-size: clamp(22px, 2.7em, 3.3em);
  }
  .submit-car p {
    font-size: clamp(18px, 1.9em, 2.7em);
  }
  .submit-car #sell_form label {
    font-size: clamp(18px, 1.7em, 2.5em);
  }
  .submit-car #sell_form p {
    font-size: clamp(18px, 1.7em, 2.3em);
  }
  .submit-car #sell_form input {
    font-size: 1.7em;
  }
  .submit-car #sell_form .radio-tab label {
    font-size: 1.5em;
  }
  .submit-car #sell_form .select-custom select {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 3001px) {
  .featured-cars .col-2 .car-box img {
    height: 35em;
  }
  .shop-content {
    grid-template-columns: repeat(auto-fit, minmax(25em, auto));
  }
}
@media only screen and (min-width: 4400px) {
  .featured-cars .car-1 img {
    height: 90%;
  }
  .featured-cars .col-2 .car-box img {
    height: 45em;
  }
}
/* SMALL SCREENS */
/* @media only screen and (max-width: 1366px) {
  .featured-cars {
    padding: 0 1.5em;
  }
  .team {
    margin: 2.5em;
  }
} */
@media only screen and (max-width: 1280px) {
  .hero {
    height: 85vh;
  }
  .buy-options {
    padding: 3em 2em;
    margin-top: -15%;
    margin-bottom: 5%;
  }
  .buy-options .row {
    grid-template-columns: repeat(2, 1fr);
  }
  .featured-cars .car-1 img {
    height: 75%;
  }
  .featured-cars h2 {
    margin-bottom: 0.5em;
  }
  .featured-cars .prom {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .featured-cars .filters .forms .filter-form {
    grid-template-columns: repeat(3, 1fr);
  }
  .options {
    padding: 0 5em;
  }
  .contact-info {
    margin: 10vh 5vw;
  }
}
@media only screen and (max-width: 1150px) {
  .contact-info .contact-content div {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media only screen and (max-width: 1080px) {
  .hero {
    height: 80vh;
  }
  .buy-options {
    padding: 3em 2em;
    margin-top: -15%;
    margin-bottom: 5%;
  }
  .featured-cars {
    padding: 0 0 0 1.5em;
  }
  .featured-cars h2 {
    margin-bottom: 0.5em;
  }
  .featured-cars .car-1 {
    margin: 0.5em;
  }
  .featured-cars .car-1 h3 {
    font-size: 1.4em;
  }
  .featured-cars .car-1 .car-info .tags span {
    margin: 0;
  }
  .featured-cars .car-1 .car-info .tags .year {
    padding: 0.3em 0.7em;
    margin-bottom: 10px;
  }
  .featured-cars .col-2 .car-box {
    margin: 0.5em;
  }
  .featured-cars .col-2 .car-box .car-info .tags .year {
    padding: 0.3em 0.7em;
    margin-bottom: 7px;
  }
  .prom {
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .filters .forms .filter-form {
    grid-template-columns: repeat(2, 1fr);
  }
  .car-details {
    padding: 1em 2.5vw;
    grid-template-columns: 50% 50%;
  }
  .related-cars {
    padding: 0em 1vw 1em 1vw;
  }
}
@media only screen and (max-width: 1000px) {
  .contact-info .contact-content {
    flex-wrap: wrap;
  }
  .contact-info .contact-content > div {
    width: 40%;
  }
  .options {
    padding: 0 3em;
  }
  .team .glider-slide {
    min-width: 240px;
  }
  .about-container .about-content {
    align-items: center;
  }
  .about-container .about-content .about-img {
    height: 350px;
  }
  .contact-form {
    margin: 10vh 3vw;
  }
  .contact-form iframe {
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    height: 80vh;
  }
  .buy-options {
    padding: 3em 2em;
    margin-top: -15%;
    margin-bottom: 10%;
  }
  .featured-cars {
    padding: 0 1.5em;
  }
  .featured-cars h2 {
    margin-bottom: 0.5em;
  }
  .featured-cars .car-1 {
    width: 50vw;
    height: 60vh;
    margin: 0 auto;
    display: none;
  }
  .featured-cars .car-1 img {
    height: 75%;
  }
  .featured-cars .car-1 .car-info h3 {
    font-size: 1.5em;
  }
  .featured-cars .col-2 {
    width: 100vw;
  }
  .featured-cars .col-2 .car-box {
    margin: 0.5em;
  }
  .options {
    padding: 0 5em;
  }
  .options .img-banner {
    display: none;
  }
  .options .row {
    flex-wrap: wrap;
    margin-top: auto;
  }
  .options .row .sell-car:after {
    content: none;
  }
  .options .row .buy-car:after {
    content: none;
  }
  .team .team-text {
    width: 40%;
  }
  .team .glider.draggable {
    width: 60%;
  }
  .team .glider-slide {
    min-width: 240px;
  }
  .about-container .about-content {
    text-align: center;
  }
  .about-container .about-content > * {
    width: 100%;
    margin-top: 1em;
  }
  .about-container .about-content .about-img {
    height: 250px;
  }
  .about-container .about-content .about-img img {
    height: 90%;
    width: 70%;
  }
  .about-container .about-content .about-text {
    padding-right: 0;
  }
  .prom div > .box {
    width: 50%;
  }
  .prom div > .box:nth-child(3) {
    margin: 2em auto;
  }
  .contact-form {
    flex-wrap: wrap;
  }
  .contact-form iframe {
    width: 100%;
    height: 40vh;
  }
  .contact-form .form-container {
    margin-top: 1em;
  }
  .filters {
    padding: 1em 4vw;
  }
  .shop-content {
    padding: 0 3em;
  }
  .left {
    order: 2;
  }
  .right {
    order: 1;
  }
  .car-details {
    padding: 1em 5vw;
    grid-template-columns: auto;
    margin: 10vh 0 2vh 0;
  }
  .car-details .car-main-detail {
    position: relative;
    right: 0;
  }
  .car-details .car-main-detail .title {
    font-size: clamp(18px, 1.8em, 2.8em);
  }
  .car-details .car-main-detail .car-data span {
    font-size: clamp(16px, 1.3em, 1.7em);
  }
  .related-cars {
    padding: 0em 5vw 2em 5vw;
  }
  .related-cars .related-products {
    text-align: center;
  }
}
@media only screen and (max-width: 687px) {
  .hero {
    height: 85vh;
  }
  .hero h1 {
    font-size: 3.5em;
  }
  .buy-options {
    margin-top: -20%;
    margin-bottom: 10%;
  }
  .row .brand-selection .btn {
    font-size: clamp(14px, 16px, 1.6em);
  }
  .featured-cars h2 {
    margin-bottom: 0.5em;
  }
  .featured-cars .col-2 .car-box {
    margin: 0.5em;
  }
  .filters .forms .form-right {
    grid-template-columns: auto;
  }
  .car-details .car-images-carousel .row {
    grid-template-columns: repeat(3, 1fr);
  }
  .about-container .about-content .about-text .spec {
    width: 100%;
    padding-left: 0.3em;
  }
}
@media only screen and (max-width: 603px) {
  .hero {
    height: 85vh;
  }
  .hero h1 {
    font-size: 3.5em;
  }
  .buy-options {
    margin-top: -30%;
    margin-bottom: 10%;
  }
  .buy-options .row {
    grid-template-columns: 1fr;
  }
  .buy-options .row .brand-selection .btn {
    position: unset;
    width: 100%;
  }
  .featured-cars h2 {
    margin-bottom: 0.5em;
  }
  .featured-cars .car-1 h3 {
    font-size: 1.3em;
  }
  .featured-cars .car-1 .car-info .tags span {
    margin: 0;
  }
  .featured-cars .car-1 .car-info .tags .year {
    padding: 0.3em 0.7em;
    margin-bottom: 10px;
  }
  .shop-content {
    padding: 0 1em;
  }
}
@media only screen and (max-width: 540px) {
  .hero {
    height: 85vh;
  }
  .hero h1 {
    font-size: 3.5em;
  }
  .buy-options {
    margin-top: -30%;
    margin-bottom: 10%;
  }
  .featured-cars .col-2 .car-box {
    width: 100vw;
  }
  .featured-cars h2 {
    margin-bottom: 0.5em;
  }
  .featured-cars .car-1 h3 {
    font-size: 1.3em;
  }
  .featured-cars .car-1 .car-info .tags .year {
    padding: 0.25em 0.7em;
    margin-bottom: 10px;
  }
  .options {
    padding: 0 1em;
  }
  .team {
    margin: 1.5em;
  }
  .team .glider-contain {
    flex-wrap: wrap;
    padding: 1em;
  }
  .team .glider-contain .team-text {
    width: 100%;
  }
  .team .glider-contain .team-text .glider-prev,
  .team .glider-contain .team-text .glider-next {
    font-size: 18px;
  }
  .team .glider-contain .glider.draggable {
    width: 100%;
  }
  .team .glider-slide {
    min-width: 220px;
  }
  .contact-info .contact-content > div {
    width: 80%;
  }
  .shop-content {
    padding: 0 0.5em;
  }
  .submit-car {
    padding: 1em 5vw;
  }
  .submit-car p {
    font-size: 1.3em;
  }
  .car-details .car-main-detail {
    position: relative;
    right: 0;
  }
  .car-details .car-main-detail .title {
    font-size: clamp(18px, 1.5em, 2.25em);
  }
  .car-details .car-main-detail .car-data span {
    font-size: clamp(16px, 1.2em, 1.7em);
  }
}
@media only screen and (max-width: 480px) {
  .hero {
    height: 90vh;
  }
  .buy-options {
    padding: 3em 2em;
    margin-top: -30%;
    margin-bottom: 10%;
  }
  .featured-cars h2 {
    margin-bottom: 0.5em;
  }
  .featured-cars .car-1 {
    height: 60vh;
  }
  .featured-cars .car-1 img {
    height: 60%;
  }
  .featured-cars .car-1 h3 {
    font-size: 1.3em;
  }
  .featured-cars .car-1 .car-info .tags span {
    margin: 0;
  }
  .featured-cars .car-1 .car-info .tags .year {
    padding: 0.3em 0.7em;
    margin-bottom: 10px;
  }
  .car-details .car-images-carousel .prev,
  .car-details .car-images-carousel .next {
    top: 20%;
    margin-top: 0;
  }
  .team .glider-contain .team-text .glider-prev {
    font-size: 17px;
  }
  .team .glider-contain .team-text .glider-next {
    font-size: 17px;
  }
  .team .glider-slide {
    min-width: 220px;
  }
  .prom div > .box {
    width: 100%;
    padding-bottom: 2.5em;
  }
  .shop-content {
    padding: 0 3em;
  }
}
@media only screen and (max-width: 320px) {
  .hero {
    height: 85vh;
  }
  .buy-options {
    padding: 3em 1em;
    margin-bottom: 15%;
    margin-top: -40%;
  }
  .featured-cars {
    padding: 0;
  }
  .featured-cars h2 {
    margin-bottom: 0.5em;
    text-align: center;
  }
  .featured-cars .car-1 {
    height: 55vh;
  }
  .featured-cars .car-1 img {
    height: 60%;
  }
  .featured-cars .car-1 .car-info .tags .year {
    padding: 0.3em 0.7em;
    margin-bottom: 10px;
  }
  .options {
    padding: 0;
  }
  .team {
    margin: 0.5em;
  }
  .team .glider-contain .team-text .glider-prev {
    font-size: 15px;
  }
  .team .glider-contain .team-text .glider-next {
    font-size: 15px;
  }
  .team .glider-slide {
    min-width: 200px;
  }
  .submit-car {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .submit-car #sell_form {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .submit-car #sell_form .tab-title {
    font-size: 1.45em;
  }
  .submit-car #sell_form .tab-5,
  .submit-car #sell_form .tab-6 {
    padding: 0 1em;
  }
  .submit-car #sell_form .car-image-label {
    font-size: 18px;
    width: 120px;
    padding: 1em;
  }
  .submit-car #sell_form .radio-tab label {
    margin: 0.5em;
  }
  .shop-content {
    padding: 0 1.5em;
  }
  .filters .forms {
    grid-template-columns: auto;
  }
  .filters .forms .filter-form {
    grid-template-columns: auto;
    display: none;
  }
  .filters .forms .form-right {
    position: relative;
  }
  .car-details .car-images-carousel .row {
    grid-template-columns: repeat(2, 1fr);
  }
  .car-details .car-main-detail .details {
    padding: 1.5em 1.5em;
  }
  .contact-info {
    margin-bottom: 5vh;
  }
  .contact-form {
    margin-top: 5vh;
  }
}
