@import "colors.less";
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Oxygen&family=Poppins&family=Raleway&family=Ubuntu&display=swap");

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;

  &:focus {
    outline: none;
  }
}

body {
  background-color: darken(@third_color, 2.5%);
  font-family: "Ubuntu", sans-serif;
}

/* NAVBAR */

.navbar {
  padding: 1em 5%;
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;

  .logo {
    img {
      width: 75px;
    }
  }

  .navbar_left {
    margin-left: 10vh;
    display: flex;
    justify-content: space-between;
    width: 40%;
    z-index: 9;

    li {
      list-style-type: none;

      a {
        color: lighten(@secondary_color, 15%);
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;

        &:hover {
          color: @secondary_color;
        }

        &.active {
          color: darken(@primary_color, 10%);
        }
      }
    }
  }
}

/* FOOTER */

.footer {
  footer {
    background-color: darken(@third_color, 15%);
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    bottom: 0px;

    .row {
      display: flex;
      padding: 2.5em 5em;

      .col-4 {
        width: 33%;

        .social-media-icons {
          a {
            text-decoration: none;
            margin: 0 0.8em;
            i {
              color: lighten(@secondary_color, 20%);
            }
          }
        }

        h3 {
          text-transform: uppercase;
          color: lighten(@secondary_color, 20%);
          margin-bottom: 0.8em;
        }

        ul {
          li {
            margin: 0.5em 0;
            a {
              color: lighten(@secondary_color, 20%);
              text-decoration: none;
              span {
                i {
                  font-size: 12px;
                  color: lighten(@secondary_color, 20%);
                }
              }
            }
          }
        }
      }
    }
  }
}

/* HERO SECTION */

.hero {
  height: 95vh;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  h1 {
    font-size: clamp(14px, 5em, 6vw);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 25%;
    top: 15%;
    color: darken(@primary_color, 10%);
  }
}

/* Car Search */

.buy-options {
  background-color: @third_color;
  margin: -5% 15% 10% 15%;
  padding: 3em 5em;
  border-radius: 0.3rem;
  display: flex;
  -webkit-box-shadow: 2px 5px 10px 0px rgba(63, 63, 63, 0.75);
  -moz-box-shadow: 2px 5px 10px 0px rgba(63, 63, 63, 0.75);
  box-shadow: 2px 5px 10px 0px rgba(63, 63, 63, 0.75);
}

.row {
  width: 100%;
  display: flex;

  .brand-selection {
    position: relative;
    margin: 0 1em;

    .select-custom {
      position: relative;

      select {
        box-shadow: 0 10px 25px rgb(0, 0, 0);
        font-size: 1.5rem;
        padding: 1em 5em 1em 1.5em;
        background: #4d5061;
        color: white;
        border: 0;
      }

      .custom-arrow {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        background: #3b3c47;
        height: 100%;
        width: 4rem;
        pointer-events: none;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &::before {
          border-left: 0.65em solid transparent;
          border-right: 0.65em solid transparent;
          border-bottom: 0.65em solid rgba(255, 255, 255, 0.5);
          top: 40%;
        }

        &::after {
          border-left: 0.65em solid transparent;
          border-right: 0.65em solid transparent;
          border-top: 0.65em solid rgba(255, 255, 255, 0.5);
          top: 60%;
        }
      }
    }
  }
}

/* FEATURED CARD */

.featured-cars {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3em;

  .car-1 {
    width: 45%;
    background-color: lighten(@secondary_color, 5%);
    border-radius: 0.8rem;
    margin: 1em;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(46, 62, 81, 1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(46, 62, 81, 1);
    box-shadow: 3px 3px 5px 0px rgba(46, 62, 81, 1);

    img {
      height: 80%;
      width: 100%;
    }
    .car-info {
      color: @third_color;
      padding: 0.5em 1.5em;
      h3 {
        margin-bottom: 1rem;
      }
      hr {
        border: 1px solid rgb(95, 95, 95);
        opacity: 0.4;
        margin-bottom: 1rem;
      }
      .tags {
        margin-top: 0.5rem;
        overflow: hidden;

        span {
          margin: 0 0.5em;
          padding: 2em 0.5em;
          color: darken(@third_color, 40%);
        }

        .year,
        .price {
          color: @third_color;
        }

        .year {
          background-color: @primary_color;
          padding: 0.5em 1em;
          display: inline-block;
          vertical-align: middle;
          border-radius: 0.35rem;
        }
      }
    }
  }

  .col-2 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;

    .car-box {
      -webkit-box-shadow: 3px 3px 5px 0px rgba(46, 62, 81, 1);
      -moz-box-shadow: 3px 3px 5px 0px rgba(46, 62, 81, 1);
      box-shadow: 3px 3px 5px 0px rgba(46, 62, 81, 1);
      width: 45%;
      margin: 1em;

      background-color: lighten(@secondary_color, 5%);
      border-radius: 0.8rem;
      img {
        height: 200px;
        width: 100%;
      }
      .car-info {
        color: @third_color;
        padding: 0.5em 1.5em;
        h3 {
          margin-bottom: 0.5rem;
        }
        hr {
          border: 1px solid rgb(95, 95, 95);
          opacity: 0.4;
          margin: 0.5rem 0 0.5rem 0;
        }
        .tags {
          margin-top: 0.5rem;
          overflow: hidden;
          padding-bottom: 2em;

          span {
            margin: 0 0.5em;
            padding: 2em 0em;
            color: darken(@third_color, 40%);
          }

          .year,
          .price {
            color: @third_color;
          }

          .year {
            background-color: @primary_color;
            padding: 0.5em 1em;
            display: inline-block;
            vertical-align: middle;
            border-radius: 0.35rem;
          }
        }
      }
    }
  }
}

/* Two Options */

.options {
  padding: 0 10em;
  margin-top: 10%;
  margin-bottom: 10%;

  .img-banner {
    text-align: center;
  }
  .row {
    position: relative;
    z-index: -1;
    margin-top: -5em;
    display: flex;
    color: @third_color;
    text-align: center;

    .sell-car {
      padding: 10% 10% 5% 10%;
      background-color: lighten(@secondary_color, 2%);
      margin: 0 0.8em;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        transform: rotate(45deg);
        background-color: #000; /* to see where it is */
        box-shadow: 0 0 0 40px darken(@third_color, 2.5%);
      }

      h3 {
        font-size: 24px;
        margin-bottom: 2rem;
      }

      p {
        width: 100%;
      }
    }

    .buy-car {
      position: relative;
      padding: 10% 10% 5% 10%;
      background-color: @primary_color;
      margin: 0 0.8em;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(45deg);
        background-color: #000; /* to see where it is */
        box-shadow: 0 0 0 40px darken(@third_color, 2.5%);
      }

      h3 {
        font-size: 24px;
        margin-bottom: 2rem;
      }

      p {
        width: 100%;
      }
    }
  }
}

/* TEAM */

.team {
  margin: 5em;
  border-radius: 0.85rem;
  .glider-contain {
    background-color: darken(@secondary_color, 5%);
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 2em;

    .team-text {
      color: white;
      width: 50%;
      margin-top: 2em;

      h2 {
        font-size: clamp(20px, 2.8em, 4em);
        margin-bottom: 0.6em;
      }

      ul {
        li {
          font-size: clamp(14px, 18px, 2em);
          line-height: 1.5em;

          &:before {
            content: "\f058";
            font-weight: 900;
            font-family: "font awesome 5 free";
            padding-right: 0.7em;
            font-size: 16px;
            color: @primary_color;
          }
        }
      }

      button {
        margin: 50px;
      }

      .glider-prev {
        background-color: @third_color;
        border-radius: 50%;
        font-size: 20px;
        padding: 0.8em;
        position: relative;
        top: 0;
        right: 0;

        &::before {
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f053";
          font-size: 1.5em;
        }
      }

      .glider-next {
        background-color: @third_color;
        border-radius: 50%;
        font-size: 20px;
        padding: 0.8em;
        position: relative;
        margin-left: -2.5em;
        top: 0;
        left: 0;

        &::before {
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f054";
          font-size: 1.5em;
        }
      }
    }

    .glider {
      .p_content {
        background: white !important;
        display: block;
        margin: 1.5em;
        border-radius: 0.8em;
        padding-bottom: 1.2em;

        .box {
          position: relative;
          padding: 0 1.2em;

          .p_img {
            border-radius: 0.8em 0.8em 0 0;
          }

          .fas {
            background-color: @primary_color;
            color: @third_color;
            padding: 0.2em;
            border-radius: 0.2em;
            position: absolute;
            top: -1.6em;
            left: 0.5em;
          }

          .fa-envelope {
            left: 2em;
          }

          .p_name {
            font-size: clamp(16px, 22px, 1.6em);
            font-weight: 700;
            line-height: 29px;
            margin-bottom: 0.25em;
          }

          .p_p {
            opacity: 0.5;
            font-size: clamp(12px, 16px, 1.3em);
            font-weight: 500;
          }

          hr {
            background: #ecf0f3;
            margin: 0.55em 0;
            border: 0.5px solid rgb(150, 150, 150);
            opacity: 0.4;
          }

          .p_email {
            font-size: clamp(12px, 16px, 1.5em);
            line-height: 24px;
            color: red;
            text-decoration: none;
          }

          .p_phone {
            font-size: clamp(12px, 16px, 1.5em);
            line-height: 24px;
            color: gray;
            text-decoration: none;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

/* ABOUT US */

.about-container {
  margin: 10vh 5vw;

  h2 {
    margin-bottom: 1.5rem;
    font-size: clamp(22px, 58px, 5em);
    color: @secondary_color;
  }

  .about-content {
    display: flex;
    align-items: stretch;

    & > * {
      width: 100%;
    }

    .about-text {
      padding-right: 5em;
      font-size: clamp(14px, 16px, 1.5em);
      line-height: 27px;

      .spec {
        margin: 1.2em 0;
        font-size: clamp(16px, 18px, 1.7em);
        border-left: 5px solid @primary_color;
        padding-left: 1em;
        width: 75%;
      }
    }

    .about-img {
      height: 100%;
      border-radius: 1.25em;
    }
  }
}

/* PROM */

.prom {
  margin: 5vh 10vw;
  display: flex;
  justify-content: space-between;

  div {
    background-color: lighten(@secondary_color, 65%);
    padding: 3em 4em;
    text-align: center;

    h4 {
      font-size: clamp(14px, 16px, 1.5em);
      font-weight: 500;
    }
    p {
      font-size: clamp(16px, 18px, 1.5em);
      font-weight: bold;
      margin-top: 1em;
    }
  }
}

/* CONTACT */

.contact-info {
  margin: 10vh 10vw;
  display: flex;
  justify-content: space-around;

  & > * {
    width: 100%;
  }

  div {
    background-color: lighten(@secondary_color, 65%);
    padding: 1.2em 3em;
    text-align: center;
    margin: 0.5em;
    border-radius: 0.5em;

    &:not(.icon) {
      -webkit-box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
    }

    &.icon {
      color: darken(@primary_color, 10%);
    }

    h4 {
      font-size: clamp(14px, 16px, 1.5em);
      font-weight: 500;
    }
    p {
      font-size: clamp(12px, 14px, 1.2em);
      font-weight: bold;
      margin-top: 1em;
      line-height: 30px;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

/* CONTACT FORM */

.contact-form {
  margin: 10vh 10vw;
  display: flex;
  justify-content: space-between;

  & > * {
    width: 100%;
  }

  iframe {
    width: 80%;
    height: 90%;
  }

  .form-container {
    h3 {
      font-size: clamp(16px, 36px, 1.7em);

      span {
        color: @primary_color;
      }
    }

    form {
      input[type="text"],
      input[type="email"],
      textarea {
        width: 80%;
        margin: 1em;
        padding: 0.85em;
        border-radius: 0.35em;
        outline: none;
        border: none;
        -webkit-box-shadow: 1.5px 2px 7px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 1.5px 2px 7px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 1.5px 2px 7px 0px rgba(0, 0, 0, 0.3);
      }

      textarea {
        resize: none;
      }
    }
  }
}

/* SHOP */

/* FILTERS */

.filters {
  margin: 10vh 0vw;
  padding: 1em 10vw;
  background-color: darken(@third_color, 5%);

  .filter-btn {
    margin-left: 0.5em;
    text-transform: uppercase;
    color: @third_color;
    background-color: @secondary_color;
    padding: 1em 2em;
    border-radius: 0.25rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    line-height: 1.5;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    position: relative;

    i {
      float: right;
      position: absolute;
      right: 0.5em;
    }

    .show-form {
      background-color: red;
    }

    &:hover {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24),
        0 8px 10px 0 rgba(0, 0, 0, 0.19);
    }
  }

  form {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, margin-top 0.2s ease;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 2em;
    justify-content: space-around;

    div {
      width: 100%;

      input,
      select {
        border-radius: 0.35em;
        padding: 1em 0.5em;
        width: 80%;
      }

      input {
        border: none;
        outline: none;
        width: 40%;
        display: inline-block;
      }
    }
  }
}

/* SHOP CONTENT */

.shop-content {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 1em;
  row-gap: 1em;
  padding: 0 2em;
  padding-bottom: 2em;

  a {
    text-decoration: none;
  }

  .car-box {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(46, 62, 81, 1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(46, 62, 81, 1);
    box-shadow: 3px 3px 5px 0px rgba(46, 62, 81, 1);

    background-color: lighten(@secondary_color, 5%);
    border-radius: 0.8rem;
    img {
      height: 200px;
      width: 100%;
    }
    .car-info {
      color: @third_color;
      padding: 0.5em 1.5em;
      h3 {
        margin-bottom: 0.5rem;
      }
      hr {
        border: 1px solid rgb(95, 95, 95);
        opacity: 0.4;
        margin: 0.5rem 0 0.5rem 0;
      }
      .tags {
        margin-top: 0.5rem;
        overflow: hidden;
        padding-bottom: 2em;

        span {
          margin: 0 0.5em;
          padding: 2em 0em;
          color: darken(@third_color, 40%);
        }

        .year,
        .price {
          color: @third_color;
        }

        .year {
          background-color: @primary_color;
          padding: 0.5em 1em;
          display: inline-block;
          vertical-align: middle;
          border-radius: 0.35rem;
        }
      }
    }
  }
}

/* SELL CAR */

.submit-car {
  margin: 10vh 0vw;
  padding: 1em 10vw;
  background-color: darken(@third_color, 5%);

  p {
    margin-top: 1.5em;
  }

  .details {
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;

    input[type="file"] {
      display: none;
    }

    .car-image-label {
      color: white;
      background-color: #f5af09;
      font-size: 20px;
      cursor: pointer;
      width: 150px;
      display: block;
      padding: 1em 1.5em;
    }

    .sell-form {
      width: 50%;
      position: relative;
      height: 50px;
      overflow: hidden;

      input {
        width: 100%;
        height: 100%;
        color: #595f6e;
        padding-top: 20px;
        border: none;
        outline: none;
      }

      label {
        position: absolute;
        bottom: 0px;
        left: 0%;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid black;

        &::after {
          content: "";
          position: absolute;
          left: 0px;
          bottom: -1px;
          height: 100%;
          width: 100%;
          border-bottom: 3px solid #5fa8d3;
          transform: translateX(-100%);
          transition: transform all 0.3s ease;
        }

        .content-name {
          position: absolute;
          bottom: 5px;
          left: 0px;
          transition: all 0.3s ease;
        }
      }

      input:focus + .label-name .content-name,
      input:valid + .label-name .content-name {
        transform: translateY(-150%);
        font-size: 14px;
        color: #5fa8d3;
      }

      input:focus + .label-name::after,
      input:valid + .label-name::after {
        transform: translateX(0%);
      }
    }
  }
}

/* SINGLE PAGE */

.car-details {
  margin: 10vh 0vw;
  padding: 1em 5vw;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 2em;

  .car-images-carousel {
    position: relative;

    .mySlides {
      display: none;

      img {
        border-radius: 10px;
        height: 450px;
      }

      /* Number text (1/3 etc) */
      .numbertext {
        color: red;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
    }

    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
      cursor: pointer;
    }

    /* Next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 40%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;

      /* On hover, add a black background color with a little bit see-through */
      &:hover,
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    .row {
      margin: 1em 0em;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 0.5em;

      /* Six columns side by side */
      .column {
        float: left;
        width: 100%;

        img {
          border-radius: 0.35em;
        }
      }

      /* Add a transparency effect for thumnbail images */
      .demo {
        opacity: 0.6;
        height: 125px;
      }

      .active,
      .demo:hover {
        opacity: 1;
      }
    }
  }

  .car-description {
    margin-top: 2.5em;

    h3 {
      font-size: clamp(20px; 1.8em, 2.8em);
      margin-bottom: 1em;
    }
    p {
      line-height: 1.5em;
      word-spacing: 0.3em;
      color: darken(@third_color, 70%);

      &#more {
        display: none;
      }
    }

    button {
      padding: 1em 1.2em;
      background-color: @primary_color;
      color: @third_color;
      outline: none;
      border: none;
      border-radius: 0.35em;
      cursor: pointer;
    }
  }

  .car-features {
    margin-top: 2em;

    h3 {
      font-size: clamp(20px; 1.8em, 2.8em);
      margin-bottom: 0.7em;
    }

    .features {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      div {
        margin: 0.8em 0;
        i {
          margin: 0 0.25em;
          font-size: 10px;
          color: @primary_color;
        }
      }
    }
  }

  /* SIDEBAR */

  .car-main-detail {
    position: absolute;
    right: 5vw;

    .title {
      h1 {
        color: @secondary_color;
        font-weight: 400;
        padding-bottom: 0.8em;
      }
    }

    .car-data {
      span {
        font-size: clamp(16px, 18px, 1.7em);
        color: darken(@third_color, 60%);
        opacity: 0.7;
        i {
          margin: 0 0.25em;
          font-size: 9px;
          color: @primary_color;
          vertical-align: middle;
        }
      }
    }

    hr {
      margin: 0.5em 0;
      border: 1px solid darken(@third_color, 30%);
      opacity: 0.7;
    }

    .price {
      color: @primary_color;
      font-size: clamp(24px; 2.2em, 3em);
      font-weight: 900;
    }

    .details {
      margin-top: 1em;
      border-radius: 0.85em;
      background-color: lighten(@secondary_color, 70%);
      padding: 1.5em 2.5em;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      div {
        margin: 0.5em 0;

        .detail-name {
          font-weight: 600;
        }
      }
    }
  }
}
