/* @import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Oxygen&family=Poppins&family=Raleway&family=Ubuntu&display=swap"); */
@font-face {
  font-family: "AdihausDIN";
  src: url("../fonts/729-font.ttf") format("truetype");
}
:root {
  --rownum: 0;
}
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
*:focus {
  outline: none;
}
body {
  background-color: #f9f9f9;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  letter-spacing: 3px;
}
/* NAVBAR */
.navbar {
  padding: 1em 5%;
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #e6e6e6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.navbar .logo img {
  width: 75px;
}
.navbar .navbar_left {
  margin-left: 10vh;
  display: flex;
  justify-content: space-between;
  width: 40%;
  z-index: 9;
}
.navbar .navbar_left li {
  list-style-type: none;
}
.navbar .navbar_left li a {
  color: #415772;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
.navbar .navbar_left li a:hover {
  color: #253241;
}
.navbar .navbar_left li a.active {
  color: #a21313;
}
/* FOOTER */
.footer footer {
  background-color: #d9d9d9;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  bottom: 0px;
}
.footer footer .row {
  display: flex;
  padding: 2.5em 5em;
}
.footer footer .row .col-4 {
  width: 33%;
}
.footer footer .row .col-4 .social-media-icons a {
  text-decoration: none;
  margin: 0 0.8em;
}
.footer footer .row .col-4 .social-media-icons a i {
  color: #4a6482;
}
.footer footer .row .col-4 h3 {
  text-transform: uppercase;
  color: #4a6482;
  margin-bottom: 0.8em;
}
.footer footer .row .col-4 ul li {
  margin: 0.5em 0;
}
.footer footer .row .col-4 ul li a {
  color: #4a6482;
  text-decoration: none;
}
.footer footer .row .col-4 ul li a span i {
  font-size: 12px;
  color: #4a6482;
}
/* HERO SECTION */
.hero {
  height: 95vh;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.hero h1 {
  font-size: clamp(14px, 5em, 6vw);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 25%;
  top: 15%;
  color: #a21313;
}
/* Car Search */
.buy-options {
  background-color: white;
  margin: -5% 15% 10% 15%;
  padding: 3em 5em;
  border-radius: 0.3rem;
  display: flex;
  -webkit-box-shadow: 2px 5px 10px 0px rgba(63, 63, 63, 0.75);
  -moz-box-shadow: 2px 5px 10px 0px rgba(63, 63, 63, 0.75);
  box-shadow: 2px 5px 10px 0px rgba(63, 63, 63, 0.75);
}
.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.2em;
}
.row .brand-selection {
  position: relative;
}
.row .brand-selection p {
  margin-bottom: 0.5em;
  color: #253241;
  font-size: clamp(16px, 20px, 2em);
}
.row .brand-selection p span {
  color: #d01818;
}
.row .brand-selection .select-custom {
  position: relative;
}
.row .brand-selection .select-custom select {
  box-shadow: 0 10px 25px #000000;
  font-size: 1.1rem;
  padding: 0.6em 2.2em 0.6em 0.6em;
  background: #2e3e51;
  color: white;
  border: 0;
  width: 100%;
}
.row .brand-selection .select-custom .custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: #384b62;
  height: 100%;
  width: 3rem;
  pointer-events: none;
}
.row .brand-selection .select-custom .custom-arrow::before,
.row .brand-selection .select-custom .custom-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.row .brand-selection .select-custom .custom-arrow::before {
  border-left: 0.45em solid transparent;
  border-right: 0.45em solid transparent;
  border-bottom: 0.45em solid white;
  top: 40%;
}
.row .brand-selection .select-custom .custom-arrow::after {
  border-left: 0.45em solid transparent;
  border-right: 0.45em solid transparent;
  border-top: 0.45em solid white;
  top: 60%;
}
.row .brand-selection button {
  border: none;
  outline: none;
  background-color: #2e3e51;
  color: white;
  padding: 0.6em 2.5em;
  border-radius: 0.85em;
  position: absolute;
  bottom: 0;
  font-size: clamp(14px, 18px, 1.8em);
}
/* FEATURED CARD */
.featured-cars {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3em;
}
.featured-cars h2 {
  width: 100%;
  margin-bottom: 1.5em;
  font-size: clamp(1.8em, 2.6em, 3.5em);
  color: #253241;
}
.featured-cars h2 span {
  color: #d01818;
}
.featured-cars .car-1 {
  width: 45%;
  background-color: #2e3e51;
  border-radius: 0.8rem;
  margin: 1em;
  -webkit-box-shadow: 3px 3px 5px 0px #2e3e51;
  -moz-box-shadow: 3px 3px 5px 0px #2e3e51;
  box-shadow: 3px 3px 5px 0px #2e3e51;
}
.featured-cars .car-1 img {
  height: 80%;
  width: 100%;
}
.featured-cars .car-1 .car-info {
  color: white;
  padding: 0.5em 1.5em;
}
.featured-cars .car-1 .car-info h3 {
  margin-bottom: 1rem;
}
.featured-cars .car-1 .car-info hr {
  border: 1px solid #5f5f5f;
  opacity: 0.4;
  margin-bottom: 1rem;
}
.featured-cars .car-1 .car-info .tags {
  margin-top: 0.5rem;
  overflow: hidden;
}
.featured-cars .car-1 .car-info .tags span {
  margin: 0 0.5em;
  padding: 2em 0.5em;
  color: #999999;
}
.featured-cars .car-1 .car-info .tags .year,
.featured-cars .car-1 .car-info .tags .price {
  color: white;
}
.featured-cars .car-1 .car-info .tags .year {
  background-color: #d01818;
  padding: 0.5em 1em;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.35rem;
}
.featured-cars .col-2 {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.featured-cars .col-2 .car-box {
  -webkit-box-shadow: 3px 3px 5px 0px #2e3e51;
  -moz-box-shadow: 3px 3px 5px 0px #2e3e51;
  box-shadow: 3px 3px 5px 0px #2e3e51;
  width: 45%;
  margin: 1em;
  background-color: #2e3e51;
  border-radius: 0.8rem;
}
.featured-cars .col-2 .car-box img {
  height: 200px;
  width: 100%;
}
.featured-cars .col-2 .car-box .car-info {
  color: white;
  padding: 0.5em 1.5em 0 1.5em;
}
.featured-cars .col-2 .car-box .car-info h3 {
  margin-bottom: 0.5rem;
}
.featured-cars .col-2 .car-box .car-info hr {
  border: 1px solid #5f5f5f;
  opacity: 0.4;
  margin: 0.5rem 0 0.5rem 0;
}
.featured-cars .col-2 .car-box .car-info .tags {
  margin-top: 0.5rem;
  overflow: hidden;
  padding-bottom: 1em;
}
.featured-cars .col-2 .car-box .car-info .tags span {
  margin: 0 0.5em;
  padding: 2em 0em;
  color: #999999;
}
.featured-cars .col-2 .car-box .car-info .tags .year,
.featured-cars .col-2 .car-box .car-info .tags .price {
  color: white;
}
.featured-cars .col-2 .car-box .car-info .tags .year {
  background-color: #d01818;
  padding: 0.5em 1em;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.35rem;
}
/* Two Options */
.options {
  padding: 0 10em;
  margin-top: 10%;
  margin-bottom: 10%;
}
.options .img-banner {
  text-align: center;
}
.options .row {
  position: relative;
  z-index: -1;
  margin-top: -5em;
  display: flex;
  color: white;
  text-align: center;
}
.options .row .sell-car {
  padding: 10% 10% 5% 10%;
  background-color: #293748;
  margin: 0 0.8em;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 30px 60px -12px inset, rgba(253, 255, 255, 0.3) 0px 18px 36px -18px inset;
}
.options .row .sell-car:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(45deg);
  background-color: #000;
  /* to see where it is */
  box-shadow: 0 0 0 40px #f9f9f9;
}
.options .row .sell-car h3 {
  font-size: 24px;
  margin-bottom: 2rem;
}
.options .row .sell-car p {
  width: 100%;
}
.options .row .buy-car {
  position: relative;
  padding: 10% 10% 5% 10%;
  background-color: #d01818;
  margin: 0 0.8em;
  box-shadow: rgba(0, 0, 0, 0.5) 0px -30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.options .row .buy-car:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(45deg);
  background-color: #000;
  /* to see where it is */
  box-shadow: 0 0 0 40px #f9f9f9;
}
.options .row .buy-car h3 {
  font-size: 24px;
  margin-bottom: 2rem;
}
.options .row .buy-car p {
  width: 100%;
}
/* TEAM */
.team {
  margin: 5em;
  border-radius: 0.85rem;
}
.team .glider-contain {
  background-color: #1c2631;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 2em;
}
.team .glider-contain .team-text {
  color: white;
  width: 50%;
  margin-top: 2em;
}
.team .glider-contain .team-text h2 {
  font-size: clamp(20px, 2.8em, 4em);
  margin-bottom: 0.6em;
}
.team .glider-contain .team-text ul li {
  font-size: clamp(14px, 18px, 2em);
  line-height: 1.5em;
}
.team .glider-contain .team-text ul li:before {
  content: "\f058";
  font-weight: 900;
  font-family: "font awesome 5 free";
  padding-right: 0.7em;
  font-size: 16px;
  color: #d01818;
}
.team .glider-contain .team-text button {
  margin: 50px;
}
.team .glider-contain .team-text .glider-prev {
  background-color: white;
  border-radius: 50%;
  font-size: 20px;
  padding: 0.8em;
  position: relative;
  top: 0;
  right: 0;
}
.team .glider-contain .team-text .glider-prev::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f053";
  font-size: 1.5em;
}
.team .glider-contain .team-text .glider-next {
  background-color: white;
  border-radius: 50%;
  font-size: 20px;
  padding: 0.8em;
  position: relative;
  margin-left: -2.5em;
  top: 0;
  left: 0;
}
.team .glider-contain .team-text .glider-next::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  font-size: 1.5em;
}
.team .glider-contain .glider .p_content {
  background: white !important;
  display: block;
  margin: 1.5em;
  border-radius: 0.8em;
  padding-bottom: 1.2em;
}
.team .glider-contain .glider .p_content .box {
  position: relative;
  padding: 0 1.2em;
}
.team .glider-contain .glider .p_content .box .p_img {
  border-radius: 0.8em 0.8em 0 0;
}
.team .glider-contain .glider .p_content .box .fas {
  background-color: #d01818;
  color: white;
  padding: 0.2em;
  border-radius: 0.2em;
  position: absolute;
  top: -1.6em;
  left: 0.5em;
}
.team .glider-contain .glider .p_content .box .fa-envelope {
  left: 2em;
}
.team .glider-contain .glider .p_content .box .p_name {
  font-size: clamp(16px, 22px, 1.6em);
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 0.25em;
}
.team .glider-contain .glider .p_content .box .p_p {
  opacity: 0.5;
  font-size: clamp(12px, 16px, 1.3em);
  font-weight: 500;
}
.team .glider-contain .glider .p_content .box hr {
  background: #ecf0f3;
  margin: 0.55em 0;
  border: 0.5px solid #969696;
  opacity: 0.4;
}
.team .glider-contain .glider .p_content .box .p_email {
  font-size: clamp(12px, 16px, 1.5em);
  line-height: 24px;
  color: red;
  text-decoration: none;
}
.team .glider-contain .glider .p_content .box .p_phone {
  font-size: clamp(12px, 16px, 1.5em);
  line-height: 24px;
  color: gray;
  text-decoration: none;
  opacity: 0.8;
}
/* ABOUT US */
.about-container {
  margin: 10vh 5vw;
}
.about-container h2 {
  margin-bottom: 1.5rem;
  font-size: clamp(22px, 58px, 5em);
  color: #253241;
}
.about-container .about-content {
  display: flex;
  align-items: stretch;
}
.about-container .about-content > * {
  width: 100%;
}
.about-container .about-content .about-text {
  padding-right: 5em;
  font-size: clamp(14px, 16px, 1.5em);
  line-height: 27px;
  letter-spacing: 2px;
}
.about-container .about-content .about-text .spec {
  margin: 1.2em 0;
  font-size: clamp(16px, 18px, 1.7em);
  border-left: 5px solid #d01818;
  padding-left: 1em;
  width: 75%;
}
.about-container .about-content .about-img {
  height: 100%;
  border-radius: 1.25em;
}
/* PROM */
.prom {
  margin: 5vh 10vw;
  display: flex;
  justify-content: space-between;
}
.prom div {
  /*     background-color: lighten(@secondary_color, 65%);
 */
  padding: 3em 4em;
  text-align: center;
}
.prom div h4 {
  font-size: clamp(14px, 16px, 1.5em);
  font-weight: 500;
}
.prom div p {
  font-size: clamp(16px, 18px, 1.5em);
  font-weight: bold;
  margin-top: 1em;
}
/* CONTACT */
.contact-info {
  margin: 10vh 10vw;
  display: flex;
  justify-content: space-around;
}
.contact-info > * {
  width: 100%;
}
.contact-info div {
  background-color: #ced8e3;
  padding: 1.2em 3em;
  text-align: center;
  margin: 0.5em;
  border-radius: 0.5em;
}
.contact-info div:not(.icon) {
  -webkit-box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
}
.contact-info div.icon {
  color: #a21313;
}
.contact-info div h4 {
  font-size: clamp(14px, 16px, 1.5em);
  font-weight: 500;
}
.contact-info div p {
  font-size: clamp(12px, 14px, 1.2em);
  font-weight: bold;
  margin-top: 1em;
  line-height: 30px;
}
.contact-info div p a {
  text-decoration: none;
  color: black;
}
/* CONTACT FORM */
.contact-form {
  margin: 10vh 10vw;
  display: flex;
  justify-content: space-between;
}
.contact-form > * {
  width: 100%;
}
.contact-form iframe {
  width: 80%;
  height: 90%;
}
.contact-form .form-container h3 {
  font-size: clamp(16px, 36px, 1.7em);
}
.contact-form .form-container h3 span {
  color: #d01818;
}
.contact-form .form-container form input[type="text"],
.contact-form .form-container form input[type="email"],
.contact-form .form-container form textarea {
  width: 80%;
  margin: 1em;
  padding: 0.85em;
  border-radius: 0.35em;
  outline: none;
  border: none;
  -webkit-box-shadow: 1.5px 2px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1.5px 2px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1.5px 2px 7px 0px rgba(0, 0, 0, 0.3);
}
.contact-form .form-container form textarea {
  resize: none;
}
/* SHOP */
/* FILTERS */
.filters {
  margin: 10vh 0vw 5vh 0;
  padding: 1em 10vw;
  background-color: #f2f2f2;
}
.filters .title {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
}
.filters .title .sort {
  position: absolute;
  right: 0;
  bottom: 0;
}
.filters .title .sort span {
  color: #d01818;
}
.filters .filter-btn {
  color: #253241;
  vertical-align: middle;
  line-height: 1.5;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.filters .forms {
  position: relative;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 55% 40%;
  grid-row-gap: 2em;
  justify-content: space-around;
  align-content: space-between;
  margin-top: 1em;
}
.filters .forms .filter-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 2em;
  grid-auto-rows: var(--rownum);
}
.filters .forms .filter-form div select {
  text-transform: uppercase;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}
.filters .forms .form-right {
  position: absolute;
  right: 0;
}
.filters .forms .form-right span {
  margin: 0 0.5em;
}
.filters .forms .form-right span i {
  margin-left: 0.5em;
}
/* SHOP CONTENT */
.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  column-gap: 1em;
  row-gap: 1em;
  padding: 0 7em;
  padding-bottom: 2em;
  /* SORT */
  /* .sort-section {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
    position: relative;

    .sort {
      position: relative;

      p {
        margin-bottom: 0.5em;
        color: @secondary_color;
        font-size: clamp(16px, 20px, 2em);
      }

      .select-custom {
        position: relative;

        select {
          box-shadow: 0 10px 25px rgb(0, 0, 0);
          font-size: 1.1rem;
          padding: 0.6em 2.2em 0.6em 0.6em;
          background: lighten(@secondary_color, 5%);
          color: @third_color;
          border: 0;
          width: 100%;
        }

        .custom-arrow {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          background: lighten(@secondary_color, 10%);
          height: 100%;
          width: 3rem;
          pointer-events: none;

          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &::before {
            border-left: 0.45em solid transparent;
            border-right: 0.45em solid transparent;
            border-bottom: 0.45em solid @third_color;
            top: 40%;
          }

          &::after {
            border-left: 0.45em solid transparent;
            border-right: 0.45em solid transparent;
            border-top: 0.45em solid @third_color;
            top: 60%;
          }
        }
      }

      &.sort-by {
        width: 50%;
      }

      &.products {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  } */
}
.shop-content a {
  text-decoration: none;
}
.shop-content .car-box {
  background-color: #2e3e51;
  border-radius: 0.8rem;
}
.shop-content .car-box img {
  height: 200px;
  width: 100%;
}
.shop-content .car-box .car-info {
  color: white;
  padding: 0.5em 1.5em 0 1.5em;
}
.shop-content .car-box .car-info h3 {
  margin-bottom: 0.5rem;
}
.shop-content .car-box .car-info hr {
  border: 1px solid #5f5f5f;
  opacity: 0.4;
  margin: 0.5rem 0 0.5rem 0;
}
.shop-content .car-box .car-info .tags {
  margin-top: 0.5rem;
  overflow: hidden;
  padding-bottom: 1em;
}
.shop-content .car-box .car-info .tags span {
  margin: 0 0.5em;
  padding: 2em 0em;
  color: #999999;
}
.shop-content .car-box .car-info .tags .year,
.shop-content .car-box .car-info .tags .price {
  color: white;
}
.shop-content .car-box .car-info .tags .year {
  background-color: #d01818;
  padding: 0.5em 1em;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.35rem;
}
/* SELL CAR */
.submit-car {
  margin: 10vh 0vw;
  padding: 1em 10vw;
  background-color: #f2f2f2;
}
.submit-car p {
  margin-top: 1.5em;
}
.submit-car .details {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
}
.submit-car .details input[type="file"] {
  display: none;
}
.submit-car .details .car-image-label {
  color: white;
  background-color: #f5af09;
  font-size: 20px;
  cursor: pointer;
  width: 150px;
  display: block;
  padding: 1em 1.5em;
}
.submit-car .details .sell-form {
  width: 50%;
  position: relative;
  height: 50px;
  overflow: hidden;
}
.submit-car .details .sell-form input {
  width: 100%;
  height: 100%;
  color: #595f6e;
  padding-top: 20px;
  border: none;
  outline: none;
}
.submit-car .details .sell-form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.submit-car .details .sell-form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform all 0.3s ease;
}
.submit-car .details .sell-form label .content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
.submit-car .details .sell-form input:focus + .label-name .content-name,
.submit-car .details .sell-form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}
.submit-car .details .sell-form input:focus + .label-name::after,
.submit-car .details .sell-form input:valid + .label-name::after {
  transform: translateX(0%);
}
/* SINGLE PAGE */
.car-details {
  margin: 10vh 0vw;
  padding: 1em 5vw;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 2em;
  /* SIDEBAR */
}
.car-details .car-images-carousel {
  position: relative;
  /* Add a pointer when hovering over the thumbnail images */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
}
.car-details .car-images-carousel .mySlides {
  display: none;
  /* Number text (1/3 etc) */
}
.car-details .car-images-carousel .mySlides img {
  border-radius: 10px;
  height: 450px;
}
.car-details .car-images-carousel .mySlides .numbertext {
  color: red;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.car-details .car-images-carousel .cursor {
  cursor: pointer;
}
.car-details .car-images-carousel .prev,
.car-details .car-images-carousel .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  /* On hover, add a black background color with a little bit see-through */
}
.car-details .car-images-carousel .prev:hover,
.car-details .car-images-carousel .next:hover,
.car-details .car-images-carousel .prev:hover,
.car-details .car-images-carousel .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.car-details .car-images-carousel .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.car-details .car-images-carousel .row {
  margin: 1em 0em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5em;
  /* Six columns side by side */
  /* Add a transparency effect for thumnbail images */
}
.car-details .car-images-carousel .row .column {
  float: left;
  width: 100%;
}
.car-details .car-images-carousel .row .column img {
  border-radius: 0.35em;
}
.car-details .car-images-carousel .row .demo {
  opacity: 0.6;
  height: 125px;
}
.car-details .car-images-carousel .row .active,
.car-details .car-images-carousel .row .demo:hover {
  opacity: 1;
}
.car-details .car-description {
  margin-top: 2.5em;
}
.car-details .car-description h3 {
  font-size: clamp(20px, 1.8em, 2.8em);
  margin-bottom: 1em;
}
.car-details .car-description p {
  line-height: 1.5em;
  word-spacing: 0.3em;
  color: #4d4d4d;
  letter-spacing: 2px;
}
.car-details .car-description p#box {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  transition: all 2s;
}
.car-details .car-description button {
  padding: 1em 1.2em;
  background-color: #d01818;
  color: white;
  outline: none;
  border: none;
  border-radius: 0.35em;
  cursor: pointer;
}
.car-details .car-features {
  margin-top: 2em;
}
.car-details .car-features h3 {
  font-size: clamp(20px, 1.8em, 2.8em);
  margin-bottom: 0.7em;
}
.car-details .car-features .features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.car-details .car-features .features div {
  margin: 0.8em 0;
}
.car-details .car-features .features div i {
  margin: 0 0.25em;
  font-size: 10px;
  color: #d01818;
}
.car-details .car-main-detail {
  position: absolute;
  right: 5vw;
}
.car-details .car-main-detail .title h1 {
  color: #253241;
  font-weight: 400;
  padding-bottom: 0.8em;
}
.car-details .car-main-detail .car-data span {
  font-size: clamp(16px, 18px, 1.7em);
  color: #666666;
  opacity: 0.7;
}
.car-details .car-main-detail .car-data span i {
  margin: 0 0.25em;
  font-size: 9px;
  color: #d01818;
  vertical-align: middle;
}
.car-details .car-main-detail hr {
  margin: 0.5em 0;
  border: 1px solid #b3b3b3;
  opacity: 0.7;
}
.car-details .car-main-detail .price {
  color: #d01818;
  font-size: clamp(24px, 2.2em, 3em);
  font-weight: 900;
}
.car-details .car-main-detail .details {
  margin-top: 1em;
  border-radius: 0.85em;
  background-color: #dee5ec;
  padding: 1.5em 2.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.car-details .car-main-detail .details div {
  margin: 0.5em 0;
}
.car-details .car-main-detail .details div .detail-name {
  font-weight: 600;
}
.dropdown--is-open #box {
  overflow: hidden;
  padding-bottom: 168px;
}
.related-cars {
  padding: 1em;
}
.related-cars .related-title h3 {
  color: black;
  font-weight: normal;
  margin: 1.75rem 0 1rem 0;
  font-size: 2rem;
}
.related-cars .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}
.related-cars .grid h4 {
  color: black;
  font-weight: normal;
  margin: 1.75rem 0 1rem 0;
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}
.related-cars .grid .price {
  margin: 0;
}
.related-cars .grid img {
  width: 100%;
}
.grid {
  display: grid ;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.grid div {
  padding: 1rem;
}
.boxes {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.boxes .box {
  display: block;
  float: left;
  position: relative;
  width: 400px;
  height: 350px;
  text-align: center;
  border-collapse: collapse;
  text-decoration: none;
  color: #a21313;
  overflow: hidden;
}
.boxes .box h3 {
  transition: all 0.5s;
  padding-top: 50px;
  padding-bottom: 60px;
  margin: 0;
  font-size: 2em;
  text-transform: uppercase;
}
.boxes .box i {
  transition: all 0.4s;
  font-size: 4em;
}
.boxes .box p {
  transition: all 0.5s;
  margin-top: 70px;
}
.boxes .box:before {
  transition: all 0.4s;
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  left: 50%;
  margin-left: -50%;
  top: 25%;
  border-color: rgba(200, 200, 200, 0);
  border-style: solid;
  border-width: 0 1px;
}
.boxes .box:after {
  transition: all 0.4s;
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  left: 50%;
  margin-left: -25%;
  top: 0;
  border-color: rgba(200, 200, 200, 0);
  border-style: solid;
  border-width: 1px 0;
}
.boxes .box:hover {
  color: #415772;
  /* &:after{
        width:402px;
        margin-left:-50%;
        border-color:rgba(90,90,90,1);
      } */
}
.boxes .box:hover h3 {
  padding-top: 80px;
  padding-bottom: 30px;
}
.boxes .box:hover p {
  margin-top: 30px;
}
.boxes .box:hover:before {
  height: 352px;
  top: 0%;
  border-color: #5a5a5a;
  border-radius: 40%;
}
